.list-block {
    margin: 0;
    list-style-type: none;
}

.item-list {
    font-size: 16px;
    color: #000;
}

.movie-list-film {
    cursor: pointer;
   
}

.done {
    text-decoration: line-through;
}

.important { 
    font-size: 17px;
    color: #4c1818;
}
